github "Swinject/Swinject" ~> 2.0.0
github "Swinject/SwinjectStoryboard" ~> 1.0.0
github "ReactiveX/RxSwift" ~> 4.0
github "xmartlabs/XLPagerTabStrip" ~> 8.0
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterKit.json"
binary "https://ton.twimg.com/syndication/twitterkit/ios/TwitterCore.json"
github "Alamofire/Alamofire" ~> 4.5
